import { defineConfig } from 'vite';
import { resolve } from 'path';

export default defineConfig({
  build: {
    outDir: 'dist',
    rollupOptions: {
      input: {
        main: resolve(__dirname, 'index.html'),
        driver: resolve(__dirname, 'driver.html'),
        operator: resolve(__dirname, 'operator.html'),
      },
    },
  },
  server: {
    port: 3000,
    open: true
  }
});